{% extends 'base.html.twig' %}

{% block title %}Commande en cours de Prépration{% endblock %}

{% block body %}
    <div class="container">
        <main>
            <div class="container py-4">
                <header class="pb-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                        <span class="fs-4">Commande En cours de Préparation</span>
                    </a>
                </header>

                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Merci pour votre patience</h1>
                        <p class="col-md-8 fs-4">The best Pizza </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
